.listingContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 1300px;
  margin: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  color: teal;
}

.productThumbnail {
  padding: 20px;
  width: 250px;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2, 0.2);
  transition: 0.3s;
}

.productInfo {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productThumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
}

.productThumbnailImg {
  max-width: 200px;
  height: 300px;
}

.productName {
  color: #d0808e;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (max-width: 768px) {
  .listingContainer {
    grid-template-columns: auto auto;
    width: 600px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .listingContainer {
    grid-template-columns: auto;
    width: 300px;
    margin: auto;
  }
}
